---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import researchImage1 from "../assets/research_1.jpg";
import researchImage2 from "../assets/research_2.jpg";
import researchImage3 from "../assets/research_3.jpg";
---

<Layout title="Research">
  <div class="body">
    <div class="container">
      <div class="innerContainer">
        <h1>Research</h1>
        <div>
          <h2>Research 1</h2>
          <div class="research">
            <div class="imageContainer">
              <Image src={researchImage1} height={200} alt="AERS Laboratory image" />
            </div>
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
              sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
          </div>
        </div>
        <div>
          <h2>Research 2</h2>
          <div class="research">
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
              sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
            <div class="imageContainer">
              <Image src={researchImage2} height={200} alt="AERS Laboratory image" />
            </div>
          </div>
        </div>
        <div>
          <h2>Research 3</h2>
          <div class="research">
            <div class="imageContainer">
              <Image src={researchImage3} height={200} alt="AERS Laboratory image" />
            </div>
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
              sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .body {
    flex-grow: 1;
    width: 100%;
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .container {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    justify-content: safe center;
    padding: 1em;
    width: 100%;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 960px;
  }

  .imageContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .research {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }

  .paragraph {
    max-height: 200px;
    overflow-y: auto;
  }
</style>
