<div class="body">
  <div class="container">
    <div class="contact-us">
      <div>Contact us:</div>
      <div>{"<--------------------Address------------------->"}</div>
      <div>{"<------email------>"}</div>
    </div>
  </div>
</div>

<style>
  .body {
    background-color: gray;
    font-size: clamp(0.75rem, 1vw + 0.25rem, 1rem);
    margin-top: 2em;
    width: 100%;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    padding-top: 1.5em;
  }
</style>
